.glavnaya {

    width: 100%;
    min-height: 750px;
  margin: 0 auto;
  position: absolute;
  background-image: url(/img/background.png);
}
header {
    width:100%;
    height: 74px;
    background: #683ea9;
    margin-top: 80px;
    box-shadow: 7px 0 0 7px rgba(104, 64, 167, 0.5);
    position: absolute;
    z-index: 10;
}
.logo {
    border-radius: 50%;
    width: 165px;
    height: 165px;
    background-color: #c59c6c;
    margin-top: -40px;
    margin-right: 30px;
    box-shadow: 0 0 0 10px rgba(197, 156, 108, 0.5);
}
.logo img {
    margin-top: 35px;
    margin-left: 25px;
}
#phone {
    display:flex;
    margin-top: 11px;
    margin-left: 60%;
    position: absolute;
}
#mycall, #call {
    color: white;
    border: 1px solid #8a6d4c;
    height: 48px;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
}
#mycall {
    width: 180px;
    line-height: 48px;
    font-size: 21px;
    font-weight: 400;
}
#call {
font-size: 12px;
width: 78px;
background: #8a6d4c;
padding-top: 11px;
text-transform: uppercase;
font-family: "Proxima Nova Lt";
}
.menu {
    list-style-type: none;
    display: flex;
    max-width: 850px;
    margin: 0 auto;
}
.menu li a {
    text-decoration: none;
    color: #c69c6d;
    font-size: 20px;
    font-weight: 300;
    line-height: 81px;
    text-transform: uppercase;
    width: 128px;
    height: 88px;
    display: block;
    margin-top: -7px;
    text-align: center;
}
.menu li {
    padding-right: 30px;
}
.menu li a:hover {
    background:rgba(130, 90, 143, 0.5);
}
.photo {
    margin-right: 150px;
    height: 760px;
}
.photoText {
    display: flex;
    justify-content: space-around;
}
.glav-text {
    color: white;
    margin: 249px 254px 0;
}
.glav-text h3 {
    width: 450px;
    color: #ffffff;
    font-family: "Proxima Nova Bl";
    font-size: 56px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
}
.glav-text hr {
    width: 1px;
    height: 151px;
    margin-top: 10px;
    position: absolute;
    border-color: #e3d2c3;
}
.glav-text p {
    position: relative;
    margin-left: 21px;
    color: #ffffff;
    font-family: "Proxima Nova Lt";
    font-size: 16px;
    font-weight: 300;
    line-height: 24.3px;
    margin-top: 0;
}
.form {
    width: 420px;
    height: 69px;
    background: linear-gradient(45deg, #8a65c4, #8964c3);
    border: #8964c3;
    font-family: "Proxima Nova Bl";
    font-size: 17px;
    text-transform: uppercase;
    color: white;
    position: relative;
    cursor: pointer;
  outline: none;
}
.form:after {
    content: '';
    position: absolute;
    left: 419px;
    border: 35px solid transparent;
    border-left: 35px solid;
    bottom: 0;
    border-left-color: #8963c3;
}